.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.avatar {
    height: auto;
    width: 168px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 1px solid #D9E1EA;
    margin-top: 30px;
}

.name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.tag {
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 10px;
}

.location {
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 20px;
}

.stats {
    border-top: 1px solid #D9E1EA;
    margin: 0px;
    list-style-type:none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #F3F6F9;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    width: 100%;
    font-weight: lighter;
    padding: 10px 0;
}

.quantity {
    font-weight: bold;
}