.transaction_history {
    width: 724px;
    border-spacing: 0;
    border-collapse: collapse;
    & th {
        border-collapse: collapse;
        
        background-color: #00BCD5;
        padding-top: 8px;
        padding-bottom: 8px;
        & span {
            color: white;
        }
    }
    & tr {
        border-collapse: collapse;
        &:nth-child(2n) {
            background-color: #ECF1F3;
        }
    }
    & td {
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
        border-collapse: collapse;
    }
    & table, th, td, tr {
        border: 1px solid;
        border-collapse: collapse;
    }
}