
.container {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: '#010101';
  background-color: #E7ECF2;
}

.section {
  font-size: 20px;
  border-radius: 10px;  
  margin-bottom: 70px;
  &:first-child{
    margin-top: 70px;
  }
}

.wrapper{
    box-shadow: -5px 2px 18px 4px #ccc;
    border-radius: 10px 10px 10px 10px;
}

.section_bg{
  background-color: white;
}


* {
  // outline: red solid 1px;
}

body {
  
  font-family: sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
